@media screen and (max-width: 64rem) {
  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: flex;
  }
}


/* mobile */

@media screen and (max-width: 43.25rem) {

  nav {
    height: 6.5vh;
  }
  .container{
    padding: .8rem .5rem;
  }

  .hero-text-container{
    padding: .5rem 0;
  }

  .image-container {
    padding: 0;
  }

  .hero-image {
    width: 100%;
  }

  .nav-text-preset-1 {
    font-family: "Young Serif", serif;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .logo-img {
    height: 40px;
    width: 40px;
  }


}

/* tablet */
@media screen and (min-width: 43.26rem) and (max-width: 64rem) {
  .container{
    padding: 1rem 1.5rem;
  }

  .hero-text-container{
    padding: 1rem 0;
  }


  .hero-image {
    width: 40rem;
  }

  .appetizer-image {
    height: 12.5rem;
    width: 12.5rem;
  }

  .breakfast-image {
    height: 12.5rem;
    width: 12.5rem;
  }

  .dessert-image {
    height: 12.5rem;
    width: 12.5rem;
  }

  .drinks-image {
    height: 12.5rem;
    width: 12.5rem;
  }

  .entrees-image {
    height: 12.5rem;
    width: 12.5rem;
  }

  .meal-selector-link {
    font-size: 1.25rem;
  }


}

/* desktop */
@media screen and (min-width: 64.01rem) {
  .card-container:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
}